header{
	color: #000000;
	background-color: #FFFFFF;
	border-bottom: solid 1px #ddd;
}

body p{
	color: #000000;
}


footer{
	font-family: Helvetica;
	font-size: 11px;
	color: #000000;
	border-top: solid 1px #ddd;
	padding: 20px 0px;
	background-color: #ECECEC;
}
footer #sec-arriba{
	background-color: #ECECEC;
	margin-top: 0px;
}

#sec-services h6{
	text-align: center;
	margin-bottom: 40px;
	padding-bottom: 60px;
}

footer p{
	color: #B0ABAB;
}
a {
	color: #B0ABAB;	
}

h1{
	background-color: #E2E2E2;
	color: #B0ABAB;	
	padding: 5px 10px;
	padding-top: 10px 50px;

}

h2{
	padding: 5px 10px;
}
h6 span{
	text-align: center;
	font-weight: 600;
	color: #000000
}

#list-inline text-left {
	padding-bottom: 60px;
	
}

#sec-imagen{
	background-image: url(../img/Franja.png);
	padding: 20px;
	background-size: cover;
}
#sec-franja{
	background-image: url(../img/Franja.png);
	padding: 20px;
	margin-top: 20px;
	background-size: cover;
}
#sec-pixel{
	background-image: url(../img/Franja.png);
	padding: 20px;
	background-size: cover;
}
#sec-footer{
	background-color: #FFFFFF;
}



#list-inline text-left {
	padding-bottom: 20px;
	
}


#sec-signup{
	background-color: #990079;
	padding: 20px;
	margin: 10px 2px 10px;
	color: #FFFFFF;
	font-size: 20px;
}


#sec-search{
	background-color: #079CB8;
	padding: 20px;
	margin: 10px 2px 10px;
	color: #FFFFFF;
	font-size: 20px;
}

#sec-tell{
	background-color: #6EA305;
	padding: 20px;
	margin: 10px 2px 10px;
	color: #FFFFFF;
	font-size: 20px;
}


h4{
	color: #2C2C2C;
}


#sec-iz{
	background-color: #F6F6F6;
}
a{
	text-decoration: none;
}
p span{

	color: #000000;

}


h6 span{
	text-align: center;
	font-weight: 600;
	color: #000000
}

.carousel{
	box-decoration-break: none;
}
h3{
	color:#C0C0C0;
	}
	
#destacados{
	color:#005287;
		}
		
destacadoss img{
	padding-bottom:50px;
	margin-bottom: 10px;
}

#imagen{
	
	padding-top:20px;
	}
	
#app img{
	align-content:center;
	display:block;
	margin:auto;
	width:3%;
	
	
	}

#hero{	
	background-image: url(../img/gestiondelainnovacion_principal.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	color: rgba(255,255,255,1.00);
	padding: 150px 0px 300px;
	position: relative;
	margin-top: 10px;
}

#hero h1{
	font-size: 50px;
	padding-bottom: 30px;
	background: none;
	color: #FFFFFF;
	 
}
#hero p{
	color: #FFFFFF;
}

.info{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color:rgba(0,0,0,0.70);
	color: #FFFFFF;
	padding: 20px 0px;
	border-top: 1px solid #333;
	}

.fondo{
	marging-top:20px;
    background: #50bebe;
    background: -moz-linear-gradient(left,#50bebe 0,#41aaaa 50%,#0099cb 100%);
    background: -webkit-linear-gradient(left,#50bebe 0,#41aaaa 50%,#0099cb 100%);
    background: linear-gradient(to right,#50bebe 0,#41aaaa 50%,#0099cb 100%);
}
#cuadro{
	marging-top: 20px;
    background: #50bebe;
    background: -moz-linear-gradient(left,#50bebe 0,#41aaaa 50%,#0099cb 100%);
    background: -webkit-linear-gradient(left,#50bebe 0,#41aaaa 50%,#0099cb 100%);
    background: linear-gradient(to right,#50bebe 0,#41aaaa 50%,#0099cb 100%);
	
}

